.section {
  position: relative;
  background-color: var(--mantine-color-dark-9);
}

.inner {
  composes: inner from global;
  max-width: 1000px !important;
  display: grid;
  place-items: center;
}

.largeText {
  font-size: var(--5xl);
  line-height: calc(var(--5xl) * 1.2);
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: var(--mantine-color-gray-5);
  text-align: center;
  max-width: 50rem;
}

.headingTop {
  color: white;
}

.newLine {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}

/* decoration */
.curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 9;
}

.curve svg {
  position: relative;
  display: block;
  width: calc(106% + 1.2px);
  height: 150px;
  transform: rotateY(180deg);
}

.curve .shape-fill {
  fill: white;
}

/* MEDIA QUERIES */
@media (max-width: $mantine-breakpoint-sm) {
  .largeText {
    font-size: var(--4xl);
  }

  .newLine {
    gap: 0.75rem;
  }
}

@media (max-width: $mantine-breakpoint-xs) {
  .newLine {
    flex-direction: column;
    gap: 1.5rem;
  }

  .largeText {
    display: none;
  }
}
