---
import SocialsIconButtons from "@/components/global/SocialsIconButtons.astro";
import type { SocialMediaLink } from "@/data/contactDetails";
import Scroller from "./Scroller.astro";

interface Props {
  socialMediaLinks: SocialMediaLink[];
  contactEmail: string;
}

const { socialMediaLinks, contactEmail }: Props = Astro.props;
---

<section id="contact" class="my-48" aria-labelledby="contact-heading">
  <h2 class="hidden" id="contact-heading">Get in contact</h2>
  <Scroller text="Get in contact." />
  <div class="flex flex-col items-center gap-8">
    <a
      role="button"
      class="btn rounded-4xl px-24 py-12 text-6xl font-light btn-xl"
      href={`mailto: ${contactEmail}`}>{contactEmail}</a
    >
    <SocialsIconButtons
      socialMediaLinks={socialMediaLinks}
      size="lg"
      iconsLoading="lazy"
    />
  </div>
</section>
