---
import type { SocialMediaLink } from "@/data/contactDetails";

interface Props {
  socialMediaLinks: SocialMediaLink[];
  contactEmail: string;
}

// const { socialMediaLinks, contactEmail }: Props = Astro.props;
---

<section id="contact">
  <h2 class="decorative-font text-8xl">Get in contact.</h2>
</section>
