---
import { Image } from "astro:assets";
import keyboardImg from "@/assets/images/keyboard.png";

// import GithubIcon from "@/assets/icons/github.svg";
// import LinkedInIcon from "@/assets/icons/linkedin.svg";

const SOCIALS = [
  { label: "LinkedIn", href: "https://linkedin.com/in/henrylin03" },
  { label: "GitHub", href: "https://github.com/henrylin03/" },
];
---

<section
  class="mx-auto grid max-w-600 grid-cols-[4fr_1fr] items-end gap-6 px-10 py-6"
>
  <Image src={keyboardImg} alt="Computer keyboard" class="scale-x-[-1]" />
  <div class="flex max-w-5xl flex-col items-end gap-8">
    <h2 class="mb-8 text-right text-[15rem] leading-[0.85] font-light">
      Web Engineer
    </h2>
    <div class="flex flex-col text-right text-[1.5rem] opacity-80">
      <p>Hi, I'm Henry.</p>
      <p>I help companies build memorable experiences on the web.</p>
    </div>
    <a role="button" href="#contact" class="btn rounded-4xl btn-xl btn-primary"
      >Get in touch</a
    >
    <ul class="flex items-center gap-4">
      {
        SOCIALS.map((link) => (
          <li>
            <a href={link.href} target="_blank" rel="noopener noreferrer">
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
