.section {
  background-color: black;
}

.card {
  composes: transparentCard from global;
  border-radius: var(--mantine-radius-lg) !important;
  border-width: 1px !important;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content 1fr;
  gap: var(--mantine-spacing-xl);
}

.testimonialText {
  font-size: var(--lg);
  align-self: end;
}

.authorContainer {
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.authorImage {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.authorText {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.authorDetails {
  margin-top: -0.25rem;
  color: var(--mantine-color-gray-6);
}

/* MEDIA QUERIES */
@media (max-width: $mantine-breakpoint-md) {
  .card {
    padding: 3.5rem !important;
  }
}

@media (max-width: $mantine-breakpoint-sm) {
  .card {
    padding: var(--mantine-spacing-xl) !important;
  }

  .testimonialText {
    font-size: 1rem;
  }

  .authorText {
    font-size: var(--mantine-font-size-sm);
  }

  .authorImage {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: $mantine-breakpoint-xs) {
  .authorText {
    font-size: var(--mantine-font-size-xs);
  }

  .authorText {
    gap: 0.15rem;
  }
}

@media (max-width: 459px) {
  .testimonialText {
    font-size: var(--mantine-font-size-sm);
  }

  .authorText {
    font-size: var(--mantine-font-size-xs);
  }
}
