.header {
  background-color: black;
  color: white;
}

.logoContainer figure {
  height: 10rem;
  width: 10rem;
}

.logoIcon {
  background-image: url("/assets/branding/transparent logo - logo only.svg");
}
