---
import logo from "@/assets/henrylin-logo.svg";
import { Image } from "astro:assets";

const NAV_LINKS = [
  { label: "Experience", href: "#experience" },
  { label: "Projects", href: "#projects" },
  { label: "Get in touch", href: "#contact" },
];
---

<header>
  <div>
    <a href="/" class="flex items-center gap-6">
      <Image src={logo} alt="Logo for Henry Lin" />
      <h1>Henry Lin</h1>
    </a>
  </div>
  <nav>
    <ul>
      {
        NAV_LINKS.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
