.footer {
  background-color: var(--mantine-color-dark-9);
  display: grid;
  place-items: center;
  margin-top: -2rem;
  padding-bottom: 2rem;
}

/* MEDIA QUERIES */
@media (max-width: 589px) {
  .footer {
    margin-top: -1.5rem;
    padding-bottom: 1.5rem;
  }
}
